*{
    margin: 0;
    padding: 0;
}

.header{
    padding: 40px;
    text-align: center;
    background-color: goldenrod;
    color: white;
}

/* .navbar{
    background-color: black;
    color: white;
    display: flex;
    padding: 10px;
} */


.navbar {
    display: flex;
    background-color: #333;
}

.navbar a {
    color: #fff;
    padding: 16px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:last-child{
    justify-content: flex-end;
}

.navbar a:hover{
    background-color: #dddddd;
}

#main{
    display: flex;
}

#sidebar{
    background-color: #f1f1f1;
    flex: 25%;
    padding: 20px;
    order: 1;
}

.box{
    margin-bottom: 20px;
}

p{
    margin: 10px 0;
}

#content{
    flex: 75%;
    padding: 20px;
}

.ph{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
}

#footer {
    background-color: #ddd;
    padding: 20px;
    text-align: center;				
}

.autor{
    display: flex;
}

.autor .autor-title{
    margin-left: 30px;
}

.autor img{
    border-radius: 50%;
}

@media screen and (max-width: 700px){
    #main, .navbar{
        flex-direction: column;
    }
    #sidebar{
        order: -1;
    }
}

